@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: #FFFCF8;
}
.grid-container {
    display: flex;
    height: 100vh;
}
.left-grid{
    flex: 2;
    margin: 5px;
    background-color: #FFFCF8;
    overflow: auto;
}
.right-grid{
    background-color: #303030;
    flex: 1;
    margin: 5px;
    border-radius: 15px;
}
.heading{
    /* Health Overview */
position: relative;
margin: 10px 0px 0px 15px;

font-style: normal;
font-weight: 600;
font-size: 28px;
height: 10%;
}
.vital-heading{
    display: block;
    color: #303030;
    /* padding: 10px 0px 0px 10px; */
    line-height: 30px;
}
.date-heading{
    display: block;
    /* padding: 0px 0px 0px 10px; */
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
color: #6A6969;
}
.vital-cards{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-element{
        display: inline-flex;
        flex-direction: column;
        background-color: white;
        margin: 15px;
        width: 230px;
        height: 270px;
        /* padding: 20px; */
        border-radius: 10px;
        /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
        
}
.card-logo{
    display: inline;
    width: 45px;
    height: 45px;
    margin: 10px;
    background-color: #F8DEBD;
    border-radius: 10px;
}
.card-heading{
    display: flex;
    height: 45px;
    font-style: normal;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;

    font-style: normal;
    font-weight: 600;

    color: #303030;
}
.upper-card-layer{
    display: flex;
}
.middle-card-layer{
    display: flex;
}
.card-data{
    display: block;
    padding: 10px;
font-style: normal;
font-weight: 400;
font-size: 32px;
color: #272927;
}
.card-unit{
    display: block;
    padding-top: 22px;
    padding-bottom: 0px;
font-style: normal;
font-weight: 700;
font-size: 16px;
color: #818181;
}
.tag-layer{
    display: flex;
}
.result-tag{
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 17px;
color:#303030;
margin: 10px;
padding: 5px;
background-color: #F8DEBD;
border-radius: 10px;
}
.vital-report-container{
    background-color: white;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    
}
.middle-right{
    display: flex;
    height: 25%;
    /* width: 100%; */
    /* border: 2px yellow solid; */
}
.bmi-left-child{
    display: flex;
    flex: 45%;
    /* border: 2px green solid; */
    flex-direction: column;
}
.bmi-right-child{
    display: flex;
    flex: 55%;
    
}
.bmi-h-w{
    display: flex;
    height: 50%;
    background-color: #F8DEBD;
    margin: 10px 25px 10px 25px;
    border-radius: 15px;
    flex-direction: row;
}
.left{
    flex:1;
    
}
.left h1{
    display: block;
    height: 100%;
    width: 50%;
    margin: auto;
    padding-top: 15%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #272927;
}


.right{
    flex:1;
    
}

.bmi-weight{
    height: 50%;
    background-color: #F8DEBD;
    margin: 10px 0px 10px 10px;
    border-radius: 15px;
}
.bmi-result{
    margin: 10px 10px 10px 0px;
    border-radius: 15px;
    width: 100%;
    background-color: #4A4949;
}
.bmi-heading{
    color: white;
    display: block;
    height: 25%;
    /* width: 50%; */
    margin: auto;
    padding-top: 7%;
    padding-left: 7%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.bmi-result-value{
    color: white;
    font-weight: 400;
    font-size: 24px;
    display: inline-block;
    height: 25%;
    /* width: 50%; */
    margin: auto;
    padding-top: 7%;
    padding-left: 7%;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.bmi-health-tag{
    display: inline-block;
    color: black;
    font-weight: 400;
    font-size: 13px;
    display: inline-block;
    padding: 3px;
    border-radius: 10px;
    background-color: #D6FFDD;
    margin-top: 2%;
    margin-left: 20%;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.bmi-bottom{
    border-top: 3px solid rgb(86, 86, 86);
    height: 60%;
}
/* .bmi-bottom-left{
    flex:1;
    width: 45%;
    height: 100%;
}
.bmi-bottom-right{
    flex: 1;
    display: inline-block;
    height: 100%;
    position: relative;
} */
.body-male{
    height: 100%;
    margin: 3% auto;
}