.container-body{
    display: flex;
    min-height: 100vh;
    width: 100%;
    
    background: linear-gradient(90deg, rgba(26,26,26,1) 0%, rgba(41,41,41,1) 100%);
}
.patient-list-1{
    flex: 1;
    /* background-color: #1A1A1A; */
    
    width: 100%;
}
.patient-inner{
    margin: 1rem;
    padding-left: 1rem;
}
.add-patient{
    
    /*  */
    display: flex;
    width: fit-content;
    padding: 0px 7px 0px 4px;
    height: fit-content;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background: none;
    border: 2px #6A00FF solid;
    h1{
        display: inline-block;
        margin: auto;
        font-size: 20px;
        font-weight: 700;
        color:rgb(38, 125, 255);
        padding-left: 5px;
    }
    img{
        position: relative;
        left: 7px;
        /* top:10px; */
        width: 30px;
        height: 30px;
        /* float: right; */
    }
    
}
.add-patient:hover{
        /* background-color: white; */
        cursor: pointer;
        h1{
            color: white;
        }
        img{
            filter: invert(100%) !important;
        }
}
.patient-list-header{
    min-height: fit-content;
    padding: 10px;
    /* max-height: 15%; */
    margin-bottom: 10px;
}
.patient-list-header h1{
    margin-bottom: 7px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.search-bar{
    height: 50%;
}
.search-box{
    width: 90%;
    height: 30px;
    background-color: #FFF8EA;
    border: 1px solid grey;
    /* margin: auto; */
}
.patient-list-bottom{
    
    padding: 10px 15px 15px 15px;
    border-radius: 20px;
    height: 50vh;
    overflow: auto;
    background-color: #404040;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;}
.patient-card{
    min-width: fit-content;
    border-bottom: 1px solid grey;
    height: fit-content;
    padding: 5px;
    background: linear-gradient(90deg, rgba(106,0,255,1) 10%, rgba(166,74,255,1) 100%);;

    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    color: white;
    
}
.patient-card:hover{
    cursor: pointer;
}
.patient-profile{
    flex: 15%;
   
    margin: auto;
    border-radius: 20px;
    img{
        width: 50px;
        height: 50px;
    }
}
.patient-info{
    border-left: 2px #1A1A1A solid;
    padding-left: 0.5rem;
    flex: 60%;
}
.patient-name{
    font-size: 15px;
    font-weight: 600;
}
.patient-number{
    display: block;
    font-size: 10px;
    color: whitesmoke;
    line-height: 0%;
}
.prescription-area{
    flex:3;
    min-height: fit-content;
    /* background: #1A1A1A; */
    border-radius: 50px 0px 0px 50px;
    border-left: 1px solid  white;
}
.centre-div{
    width: 85%;
    min-height: fit-content;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background: #404040;
    padding: 1rem;
    
    border-radius: 20px;
    margin-bottom: 0.5rem;
    color: white;
    padding-left: 1rem;
    padding-left: calc(1rem + 10px);
    background-image: linear-gradient(to right, #6A00FF, #6A00FF);
    background-size: 10px 100%;
    background-repeat: no-repeat;
    padding-top: 0rem;
}
.pres-top{
    margin-top: 2rem;
    background: linear-gradient(90deg, rgba(106,0,255,1) 10%, rgba(166,74,255,1) 100%);;
    margin-bottom: 1rem;
}
.prescription-top{
    display: flex;
    margin-top: 1rem;
    /* padding: 1rem; */
    justify-content: left;
    align-items: center;
    
    /* background-color: #594545; */
    border-radius: 20px;
    
    /* height: 120px; */
    /* border-bottom: 1px solid grey; */
    img{
        width: 100px;
        position: relative;
        
    }
    h1{
        position: relative;
        font-weight: 600;
        padding-left: 1rem;
        flex: 1;
    }

}
.add-new{
    display: flex;
    position: relative;

    margin-right: 1rem;
    width: fit-content;
    padding: 5px 10px 5px 5px;
    border-radius:20px;
    border: none;
    line-height: none;
    background-color: #ffe600;
    justify-content: center;
    align-items: center;
    img{
        flex : 1;
        position: relative;
        float: left;
        width: 30px;
        margin: auto;
    }
    h3{
        position: relative;
        flex: 1;
        margin: auto;
    }
}
.add-new:hover{
    cursor: pointer;
}

.gi-heading{
    padding-top: 1rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(204, 204, 204);
    margin: 0;
}
.heading-element{
    display: flex;
    border-bottom: 2px solid rgb(204, 204, 204);
}
.heading-element.transform {
    display: flex;
    border-bottom: 2px solid rgb(204, 204, 204);
    line-height: 1.5;
    transition: line-height 0.5s ease;
  }
  
.heading-new.transform {
    line-height: 0;
    transition: line-height 0.5s ease;
    border-bottom: none;
    .heading-text{
        
        font-size: 18px ;
        transition: font-size 0.5s ease;
    }
    .heading-value{
        font-size: 18px;
        transition: font-size 0.5s ease;
    }
  }
.transform {
    -webkit-transition: all 2s ease;  
    -moz-transition: all 2s ease;  
    -o-transition: all 2s ease;  
    -ms-transition: all 2s ease;  
    transition: all 2s ease;
    
  }

.heading-text{
    flex: 1;
    
    font-weight: 500;
    font-size: 20px;
    color: grey;
}
.heading-value{
    flex: 1;
    font-weight: 500;
    position: relative;
    text-align: right;
    font-size: 20px;
}

.prescription-bottom{
    margin-bottom: 4rem;
}